[submodule "kernel_platform/mkbootimg"]
	path = kernel_platform/mkbootimg
	url = https://github.com/GoRhanHee/android_system_tools_mkbootimg.git
[submodule "kernel_platform/common/KernelSU-Next"]
	path = kernel_platform/common/KernelSU-Next
	url = https://github.com/GoRhanHee/KernelSU-Next.git
